In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# matplot > pyplot > seaborn

In [11]:
# parsed_dates faz com que o Pandas "entenda" que cada linha se refere a uma data, não a um número de linha
df = pd.read_csv("WorldCups.csv", index_col=0, parse_dates=True)
df.head()

,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930-01-01,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1934-01-01,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1938-01-01,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1950-01-01,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1954-01-01,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [ ]:
plt.figure(figsize=(16, 9))
sns.lineplot(data=df)